<!-- <h1 style="text-align:center"> <%= @title %></h1>-->

<div class="jumbotron  container-fluid" style="background-color: white; margin-top:100px">

<!-- single line form-->

 
    <div class="form-row border border-dark" style="padding:20px; text-align: center">
  
    <div class="form-group col-md-2">
     
      <input type="name" class="form-control" id="inputEmail4" placeholder="Name">
    </div>
	
    <div class="form-group col-md-2">
      
      <input type="inputEmail4" class="form-control border-primary" id="inputPassword4" placeholder="Phone no">
    </div>

    <div class="form-group col-md-2">
    
    <input type="inputEmail4" class="form-control border-primary" id="inputPassword4" placeholder="From">
  </div>

  <div class="form-group col-md-2">
  
  <input type="inputEmail4" class="form-control border-primary" id="inputPassword4" placeholder="To">
</div>

<div class="form-group col-md-2">

<input type="inputEmail4" class="form-control border-primary" id="inputPassword4" placeholder="Date">
</div>

<div class="form-group col-md-2">

<button class="form-control border-primary bg-primary" style="color: white"><b>Submit</b></button>
</div>

  </div>

  </div>
  
  

<!-- clients -->

<div style="color: #469dff; text-align: center; background-color:white; margin-top: 50px">
        <div class="container">
          
          
                
  <div class="row" style="margin-bottom: 50px">
    <div class="col-sm-4">
     <img src="assets/aj11p.png" style="height: 70px; width: auto; margin-top: 30px">
        <h4> MessageBoard</h4>
        <p> 
</p>
    </div>
    <div class="col-sm-4">
      <img src="assets/log.png" style="height: 70px; width: auto ;margin-top: 30px">
        <h4> Packers and Movers</h4>
          <p>
</p>
    </div>
    <div class="col-sm-4">
      <img src="assets/log.png" style="height: 70px; width: auto; margin-top: 30px">
        <h4>Jagdamba electicals</h4>
          <p>
</p>
    </div>
  </div>
               
</div>
          
          
      </div>
