<h3 style="text-align:center"><%= @services %></h3>
<hr  style="text-align:center; width:50px; height:1px; margin-top: -5px; background-color: #373737">
<hr  style="text-align:center; width:40px; height:1px; margin-top: -15px; background-color: #373737">
<hr  style="text-align:center; width:30px; height:1px; margin-top: -15px; background-color: #373737">
<hr  style="text-align:center; width:15px; height:1px; margin-top: -15px; background-color: #373737">
<hr  style="text-align:center; width:7px; height:1px; margin-top: -15px; background-color: #373737">
<hr  style="text-align:center; width:15px; height:1px; margin-top: -15px; background-color: #373737">
<hr  style="text-align:center; width:7px; height:1px; margin-top: -15px; background-color: #373737">
<hr  style="text-align:center; width:15px; height:1px; margin-top: -15px; background-color: #373737">
<hr  style="text-align:center; width:7px; height:1px; margin-top: -15px; background-color: #373737">

<div class="container" style="margin-top:50px">
<div class="card-deck">
  <div class="card">
  

  <%= image_tag("fan.jpg", :alt => "img", class: "card-img-top border border-primary") %>
    <div class="card-body">
      <h3 class="card-title" style="text-align:center">FAN FITTING</h3>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      
    </div>
  </div>
  <div class="card">
  <%= image_tag("fan.jpg", :alt => "img", class: "card-img-top border border-primary") %>
    <div class="card-body">
      <h3 class="card-title" style="text-align:center">HOUSE WAIRING</h3>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      
    </div>
  </div>
  <div class="card">
  <%= image_tag("fan.jpg", :alt => "img", class: "card-img-top border border-primary") %>
    <div class="card-body">
      <h3 class="card-title" style="text-align:center">METER FITTING</h3>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      
    </div>
  </div>
</div>
</div>